div {
    border: solid black 1px;
}

body {
    background-image: url("trees.png")
}

p, h3 {
    color: #777777;
}

.navigation {
    color: #777777;
}

h1, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 220px;
}

.header {
    background-color: #ffffff;
    border-color: #cccccc;
}

.name {
    color: #ffffff;
    background-color: #4aaaa5;
}

.footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.content {
    background-color: #ffffff;
    border-color: #dddddd;
}

.teal {
    color: #4aaaa5;
}